.dropdown{
    cursor:pointer;
    margin:2vh 0;
    color:rgb(67, 155, 255);
}
.dropdown-head{
    padding:2vh 5vh;
    border-radius: 5px;
    box-shadow:0 0 6px rgba(122, 184, 255, 0.37);
    background:white;
}
.dropdown-table{
    min-width:10vw;
    margin:1vh 0;
    height:auto;
    box-shadow:0 0 6px rgba(122, 184, 255, 0.37);
    z-index:300;
    border-radius: 5px;
    background:white;
    overflow:hidden;
}
.db-tbl-opt{
    min-width:10vw;
    padding:1vh;
    background:white;
    color:black;
}
.db-tbl-opt:hover{
  background:rgb(67, 155, 255);
  color:white;
}