.payment-item{
    width:86%;
    margin:2vh 5%;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    padding:2vh 2%;
    background:rgb(241, 241, 241);
}
.payment-item p{
    margin:0.5vh 0;
    color:rgb(34, 34, 34);
}
.expand-payment{
    position:absolute;
    align-self:flex-end;
    cursor:pointer;
}
.excel-download{
    padding:2vh 3vh;
    background:rgb(61, 175, 61);
    outline:none;
    border:none;
    color:white;
    border-radius:3px;
    cursor:pointer;
}
.excel-a{
    color:white;
    font-weight:400;
}