/* temp max */
.donate-container{
    background:url("../../assets/donate.png");
    background-size:100vh;
    background-position:bottom right;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}
.donate-content{
    margin-bottom:14vh;
}
.donate-text{
    width:50%;
}
.donate-container h3{
    margin:1vh 0;
    color:rgb(119, 218, 61);
}
.amount-donate{
    display:flex;
    flex-direction:row;
    width:70%;
    flex-wrap:wrap;
    align-items:center;
    justify-content:flex-start;
}
.amt-donate{
    background:rgb(226, 243, 208);
    padding:2vh;
    margin-right:2vh;
    margin-bottom:2vh;
    border:none;
    border:solid 2px rgb(218, 255, 179);
    border-radius:4px;
    color:rgb(29, 29, 29);
    font-weight:600;
    font-size:14px;
    cursor:pointer;
}
.donate-button-text{
    font-weight:600;
    font-size:14px;
    color:rgb(84, 194, 51);
}
.amt-donate:focus{
    background:rgb(214, 255, 170);
}
.amt-donate-custom{
    margin-bottom:2vh;
    width:150px;
    padding-left:10px;
    border:none;
    height:5vh;
    background:rgb(231, 231, 231);
    border-radius:5px;
}
.amt-donate-custom:focus{
    outline:none;
}
.col-bottom{
    display:flex;
    flex-direction:column;
}
.button-donate{
    padding:1vh 0;
    color:white;
    text-align:center;
    max-width:160px;
    font-weight:600;
    border-radius:4px;
    cursor:pointer;
    font-size:18px;
    background:rgb(255, 87, 87);
}
.button-donate:hover{
    background:rgb(219, 56, 56);
}
@media screen and (max-width:1120px){
    .donate-container{
        background-size:85vh;
    }
}
@media screen and (max-width:1050px){
    .donate-container{
        background-size:75vh;
    }
}
@media screen and (max-width:950px){
    .amount-donate{
        width:50%;
    }
    .donate-text{
        width:90%;
    }
    .donate-container{
        background-size:70vh;
    }
}
@media screen and (max-width:750px){
    .amount-donate{
        width:100%;
    }
    .donate-text{
        width:97%;
    }
    .donate-container{
        background-size:60vh;
        justify-content:flex-start;
    }
    .amt-donate{
        padding:2vh;
        margin-right:1vh;
    }
    .col-bottom{
        display:flex;
        flex-direction:row;
        height:5vh;
    }
    .button-donate{
        padding:0.5vh 0;
        margin-left:2vh;
        min-width:160px;
    }
    .donate-container{
        background-position:bottom center;
    }
}

