.donate-main{
    height:100vh;
    width:100vw;
    background-size:100%;
    background-position:cover;
}
.donate-cont{
    height:100vh;
    width:100vw;
    background:rgba(0, 0, 0, 0.479);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
}
.donate-cont h1{
    font-family: 'Playfair Display', serif;
    color:white;
    font-size:45px;
    text-align:center;
    margin:1vh 0;
}
.donate-cont h2{
    font-size:27px;
    text-align:center;
}
.donate-form{
    width:50vw;
    min-height:46vh;
    padding:3vh 3vw;
    margin-top:5vh;
    border-radius:20px 20px 0 0;
    display:flex;
    flex-direction:column;
    background: white;
}
.form-inputs{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:flex-start;
}
.form-inputs input{
    padding:2vh 2%!important;
    outline:none !important;
    margin:1vh 1% !important;
    border:solid 1px rgb(194, 194, 194) !important;
    border-radius:5px !important;
    width:43% !important;
}

.width-input{
    width:43%;
}
.form-inputs input::placeholder{
    color:rgb(182, 182, 182);
}
.form-inputs textarea{
    padding:2vh 2% !important;
    outline:none !important;
    margin:1vh 1% !important;
    font-family:'Quicksand';
    border:solid 1px rgb(194, 194, 194) !important;
    border-radius:5px !important;
    width:93% !important;
}
.donate-form button{
    padding:2vh 2%!important;
    outline:none !important;
    margin:2vh 1%!important;
    border:none;
    color:white;
    background:#89A65B;
    border-radius:5px !important;
    cursor:pointer;
    width:300px !important;
}
.donate-tags{
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    background:#252525;
}
.donate-card{
  width:33.33%;
  min-height:50vh;
}
.donate-card-header{
    width:100%;
    height:4vh;
}
.donate-card-cont{
    width:95%;
    padding:2vh 2.5%;
    text-align:center;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color:rgb(218, 218, 218);
}
.donate-card-cont h3{
    font-family:'Playfair Display', serif;
}
.donate-card-cont p{
  font-weight: 300;
  margin:1vh 0;
}
.underline-donate{
    width:60px;
    height:5px;
    margin:1vh 0;
}
.donate-form{
    display:flex;
    flex-direction:column;
}
@media screen and (max-width:1000px){
    .donate-cont{
        width:99vw;
        padding-right:1vw;
    }
    .donate-form{
        width:80vw;
        min-height:46vh;
        padding:3vh 3vw;
        margin-top:5vh;
        border-radius:20px 20px 0 0;
        background: white;
    }
    .donate-cont h1{
        font-size:37px;
    }
    .donate-cont h2{
        font-size:24px;
        text-align:center;
    }
    .donate-card{
        width:50%;
      }
}
@media screen and (max-width:730px){
    .form-inputs input{
        width:90% !important;
        padding:1vh 2%!important;
    }
    .width-input{
        width:43%;
    }
    .form-inputs textarea{
        width:90% !important;
        max-height:10vh;
    }
    .donate-form button{
        width:95% !important;
    }
    .form-inputs textarea{
        height:10vh !important;
    }
}
@media screen and (max-width:700px){
    .donate-form{
        height:68vh;
        width:100vw;
        padding-right:0;
    }
    .donate-cont h1{
        font-size:33px;
    }
    .donate-cont h2{
        font-size:20px;
        text-align:center;
    }
    .donate-form{
        width:84vw;
    }
    .donate-main, .donate-cont{
        height:auto;
        min-height:100vh;
    }
    .donate-card{
        width:100%;
      }
      .donate-form button{
        padding:1vh 2%!important;
      }
}

@media screen and (max-width:400px){
    .donate-cont h1{
        font-size:30px;
    }
    .donate-cont h2{
        font-size:17px;
        text-align:center;
    }
}
