.ini-main{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    min-width:100vw;
    text-align:center;
    align-items: center;
    justify-content: center;
}
.mission-2liner{
    width:60%;
    margin:0;
    font-size: 23px !important;
    color: #c4c0c0 !important;
    margin-top:1.5vh !important;
    font-weight:300 !important;
}
#myVideo{
    min-width:100vw; 
    min-height: 100vh;
    max-height:102vh;
    position:absolute;
    align-self:center;
    top:0;
    left:auto;
}
.container-ini{
    background:rgba(0,0,0,0.3);
    min-height:102vh;
    width:100vw;
    top:0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    left:0;
    position:absolute;
    z-index:200;
}
.container-ini h1{
    color:white;
    font-size:55px;
    font-family: 'Playfair Display', serif;
    margin:0;
    padding:0;
}
.mission-underline{
    width:360px;
    margin:0;
    padding:0;
    height:2px;
    background:white;
}
.mission-heading-txt{
    font-size:55px !important;
}
.mission-2 h2{
    margin:0;
    padding:0;
    margin-top:5vh;
}
.container-ini p{
    color:white;
    font-weight:500;
    font-size:20px;
    padding:0 3vh;
}
.mission-2{
    background:rgb(248, 248, 248);
    width: 94vw;
    padding:5vh 3vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.grid-mission{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}
.mission-hashtags{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px !important;
}
.mission-hash-1{
    color: #aadc5d;
}
.mission-hash-2{
    color: #88cc21;
}
@media screen and (max-width:1000px) {
    .mission-2liner{
        width:80%;
    }
    .mission-underline{
        width:300px;
    }
    .mission-heading-txt{
        font-size:50px !important;
    }
}
@media screen and (max-width:700px) {
    .mission-2liner{
        width:90%;
    }
}
@media screen and (max-width:600px) {
    .mission-2liner{
        width:95%;
        font-size:16px !important;
        font-weight:300 !important;
    }
    .mission-heading-txt{
        font-size:34px !important;
    }
    .mission-underline{
        width:190px;
    }
}