
.sports-vid-main {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    min-width:100vw;
    text-align:center;
    align-items: center;
    justify-content: center;
    overflow:hidden !important;
    margin-left: 0px;
    margin-right: 0px;
}
#SpVid{
    min-width:100vw; 
    min-height: 100vh !important;
    max-height:100vh;
    align-self:center;
    left:auto;
    object-fit: cover;
}
.sports-container{
    background:rgba(0,0,0,0.3);
    height:100vh;
    width:100vw;
    top:0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    left:0;
    position:absolute;
}
.sp-header{
    color: #AEDD66;
}
.sports-container h1{
    color: white;
    font-family: 'Playfair-Display', serif;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 12px;
}

.sp-subtitle{
    color: #c4c0c0  !important;
    font-size: 23px !important;
    font-weight: lighter !important;
    margin-top: 1.5vh  !important;
}
.sports-hashtag{
    font-family: 'Playfair-Display', serif;
    font-size: 32px;
    line-height: 0%;
    margin-top: 22px;
}
.hash-1{
    color: #aadc5d;
}
.hash-2{
    color: #8cc634;
}
.hash-3{
    color: #77ac26;
}
.card-sport-1{
    background-color: white;
}
.card-sport-info-1{
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.card-sport-2{
    background-color: #efefef;
    text-align: right;
}
.card-sport-info-2{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-left: 5vw;
}
.card-sport-3{
    background-color: white;
}
.card-sport-info-3{
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

@media screen and (max-width: 1200px){
    .sports-container h1{
        font-size: 50px;
        margin-bottom: 10px;
    }
    .sports-hashtag{
        font-size: 28px;
        margin-top: 18px;
}
}
@media screen and (max-width: 900px){
    .card-sport-info-1{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0vh;
    }
    .card-sport-info-2{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-left: 0vw;
        gap: 0vh;
    }
    .card-sport-info-3{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0vh;
    }
    .card-sport-text-1{
        margin: 0;
    }
}
@media screen and (max-width: 830px){
    .sports-container h1{
        font-size: 40px;
        margin-bottom: 7px;
    }
    .sports-hashtag{
        font-size: 28px;
        margin-top: 18px;
    }
    .sp-subtitle{
        font-size: 19px !important;
    }
}
@media screen and (max-width: 700px){
    .sports-container h1{
        font-size: 34px;
        margin-bottom: 0px;
    }
    .sports-hashtag{
        font-size: 24px;
        margin-top: 18px;
}
}
@media screen and (max-width: 610px){
    .sports-container h1{
        font-size: 45px;
        margin-bottom: 7px;
    }
    .sports-hashtag{
        font-size: 24px;
        margin-top: 18px;
    }
    .sp-subtitle{
        font-size: 16px !important;
        margin:0 1vw;
    }
}
@media screen and (max-width: 556px){
    .sports-container h1{
        font-size: 30px;
        margin-bottom: 7px;
    }
    .sports-hashtag{
        font-size: 22px;
        margin-top: 18px;
    }
}
