input{
    border-radius: 5px;
    box-shadow: 0 0 0.2;
    font-style: Sans-Serif;
    font-weight: 100;
}
.fixedwidth{
    color: #fff;
    width: 300px;
}
.halfWidth{
    color: #fff;
    width: 50%;
}
.fullWidth{
    color: #fff;
    width: 100%;
}