.input,.select{
    height: 4vh;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.1);
    font-style: Sans-Serif;
    font-weight: 100;
    font-size: 12px;
    padding: 0 1vh;
    margin: 1vh 0;
    border: solid 1px rgb(173, 173, 173);
}
.m-r-input{
    margin-right:2vh;
}
input:focus, select:focus, textarea:focus{
    outline: none;
    box-shadow: 0px 0px 3px inset rgba(0,0,0,0.1);
}
.fixedWidth {
    color: #fff;
    width: 200px;
}
.halfWidth{
    color: #fff;
    width: 50%;
}
.fullWidth{
    color: #fff;
    width: 100%;
}
.form-container{
    margin-top: 2vh;
}
textarea{
    min-height: 15vh;
    width: 98%;
    outline: none;
    resize: none;
    border: 1px solid grey;
    height: 40px;
    border: solid 1px rgb(180,180,180);
    border-radius: 3px;
    font-size: 12px;
    padding: 1vh;
}