.Navigation , .Nav2{
    position:fixed;
    top:0;
    height:12vh;
    width:96vw;
    display:none;
    padding:0 2vw;
    flex-direction:row;
    align-items:center;
    background:white;
    justify-content:flex-start;
    z-index:1000;
}
.Navigation2{
    position:fixed;
    top:0;
    height:12vh;
    width:96%;
    display:flex;
    backdrop-filter: blur(7px);
    /* -webkit-backdrop-filter: blur(3px); */
    padding:0 2vw;
    flex-direction:row;
    padding-top:0.5vh;
    align-items:center;
    background:rgba(10, 10, 10, 0.601);
    justify-content:flex-start;
    font-weight:300;
    left:0;
    z-index:1000;
}
.Navigation2-white{
    position:fixed;
    top:0;
    height:12vh;
    width:96%;
    display:flex;
    backdrop-filter: blur(7px);
    padding:0 2vw;
    flex-direction:row;
    padding-top:0.5vh;
    align-items:center;
    background:rgba(223, 223, 223, 0.192);
    justify-content:flex-start;
    font-weight:300;
    z-index:1000;
}
.Navigation2-blog{
    position:fixed;
    top:0;
    height:12vh;
    width:96%;
    display:flex;
    backdrop-filter: blur(7px);
    padding:0 2vw;
    flex-direction:row;
    padding-top:0.5vh;
    align-items:center;
    background:rgba(240, 240, 240, 0.192);
    justify-content:flex-start;
    font-weight:300;
    z-index:1000;
}
.Navigation2-blog .nav-item{
    font-size:16px;
    margin-right:5vw;
    color:rgb(121, 121, 121);
    font-weight:300;
}
.small-nav{
    position:fixed;
    display:none;
}
a{
    text-decoration: none;
}
.nav-item{
    font-size:16px;
    margin-right:5vw;
    color:rgb(167, 167, 167);
    font-weight:100;
}
.nav-item-white{
    font-size:16px;
    margin-right:5vw;
    color:rgb(54, 54, 54);
    font-weight:300;
}
.nav-item:hover{
    color:rgb(224, 224, 224);
}
.nav-item-active{
    color:#8CC634;
    font-weight:500;
}
.logo-nav{
    display:flex;
    height:12vh;
    flex-grow:1;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:flex-start;
}
.logo{
    height:9vh;
}
@media screen and (max-width:900px){
    .logo-nav{
        display:none;
    }
    .nav-item-white{
        color:rgb(223, 223, 223);
    }
    .nav-item-active{
        color:#8CC634;
        font-weight:500;
    }
    .Navigation2, .Navigation2-white, .Navigation2-blog{
        display:none;
        height:90vh;
        width:46vw;
        padding:5vh 4vw;
        padding-right:0;
        flex-direction:column;
        align-items:flex-start;
        justify-content:space-evenly;
        transform: translateX(-50vw);
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
    .Navigation{
        display:flex;
        height:90vh;
        width:46vw;
        padding:5vh 4vw;
        padding-right:0;
        flex-direction:column;
        align-items:flex-start;
        justify-content:space-evenly;
        transform: translateX(-50vw);
        transition: 0.8s;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
    .Nav2{
        display:flex;
        height:90vh;
        width:46vw;
        padding:5vh 4vw;
        padding-right:0;
        flex-direction:column;
        align-items:flex-start;
        justify-content:space-evenly;
        padding-top:8vh;
        transition: 0.8s;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        background:rgba(0, 0, 0, 0.788);
        backdrop-filter: blur(12px);
    }
    .small-nav{
        position:fixed;
        display:flex;
        align-items:center;
        justify-content:space-between;
        height:12vh;
        width:96vw;
        padding:0 2vw;
        z-index:1500;
    }
    .nav-cross{
        height:5vh;
        padding:1.5vh 0;
        width:8vh;
        background:white;
        border-radius:4vh;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items:center;
        cursor: pointer;
    }
    .box-shadow{
        box-shadow:0 0 10px rgba(0, 0, 0, 0.082);
    }
    .cross{
        min-height:4px;
        width:5vh;
        background:rgb(31, 30, 30);
        border-radius:2px;
        transition:0.7s;
    }
    .new-1{
        align-self:center;
        transform: rotate(45deg) translateY(0.8vh) translateX(6px);
        transition:0.7s;
    }
    .new-3{
        align-self:center;
        transform: rotate(-45deg) translateY(-0.9vh) translateX(6px);
        transition:0.7s;
    }
    .new-2{
        align-self:center;
        transform: scaleY(0);
        transition:0.7s;
    }

}

@media screen and (max-width:500px){
    .Navigation2{
        width:96vw;
        transform: translateX(-100vw);
    }
    .Navigation{
        width:96vw;
        transform: translateX(-100vw);
    }
    .Nav2{
        width:96vw;
        background:rgba(0, 0, 0, 0.788);
        backdrop-filter: blur(12px);
        padding-top:8vh;
    }
}