.icon-city{
    border:none;
    background:transparent;
    color:rgb(219, 219, 219);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    cursor:pointer;
}
.icon-city h4{
    font-weight:400;
}
.sub-head-popup{
    text-align:center;
}
.icon-city:focus{
    outline:none;
}
.center-image{
   width:45px;
   margin:0 2vh;
}
.cities-row{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
    margin:6vh 0;
}