.gallery{
   width:80vw;
   margin:0;
   padding:8vh 10vw;
   background:black;
   display:flex;
   flex-direction: row;
   flex-wrap:wrap;
   align-items:center;
   color:white;
   justify-content:center;
}
.gallery-white{
   width:80vw;
   margin:0;
   padding:8vh 10vw;
   background:rgb(236, 236, 236);
   display:flex;
   flex-direction: row;
   flex-wrap:wrap;
   align-items:center;
   color:rgb(5, 5, 5);
   justify-content:center;
}
.event-card{
   width:40vh;
   height:43vh;
   background:white;
   border-radius:8px;
   margin:5vh;
   overflow:hidden !important;
}
.event-card:hover .gallery-image{
   height:11vh;
   transition:0.4s;
}
.event-text-toggle-2{
   display:none;
}
.event-card:hover .event-text-toggle-2{
  display:flex;
}
.event-card:hover .event-text-toggle-1{
   display:none;
 }
.del-icon-event{
   margin-top:2vh;
   margin-left:2vh;
   height:20px;
   padding:1.2vh 1.2vh;
   border-radius:5vh;
   background:rgb(255, 80, 80);
   cursor:pointer;
   position:absolute;
}
.del-icon-event img{
   height:20px;
}
.gallery-image{
   width:100%;
   height:30vh;
   display:flex;
   align-items:center;
   justify-content:center;
   overflow:hidden;
   transition:0.4s;
   overflow: hidden;
}
.gallery-image img{
   min-width:100%;
   height:auto;
   min-height:30vh;
}
.text-event-card{
   width:90%;
   padding:1vh 5%;
   height:11vh;
   display:flex;
   flex-direction:column;
   align-items:flex-start;
   justify-content:flex-start;
   overflow:hidden;
   color:black;
}
.text-event-card h3{
   font-weight:bold !important;
   margin:0.5vh 0;
}
.text-event-card p{
 margin:0.5vh 0;
}
.arrow-event-card{
   height:8vh;
   width:8vh;
   border-radius:4vh;
   margin-left:30vh;
   color:white;
   display:flex;
   align-items:center;
   justify-content:center;
   font-size:25px;
   margin-top:-4vh;
   background:rgb(57, 159, 255);
   position:absolute;
}
.arrow-event-card img{
   height:50px;
}

@media screen and (max-width:900px){
   .gallery{
      width:90vw;
      padding:8vh 5vw;
   } 
   .event-card{
      width:40vh;
      height:43vh;
      margin:3vh;
   }
}
@media screen and (max-width:700px){
   .gallery{
      width:94vw;
      padding:8vh 3vw;
   } 
   .event-card{
      width:37vh;
      height:43vh;
      margin:2.5vh;
   }
   .arrow-event-card{
      height:8vh;
      width:8vh;
      border-radius:4vh;
      margin-left:28vh;
      margin-top:-4vh;
      background:rgb(57, 159, 255);
      position:absolute;
   }
}
