.gallery {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    width:80vw;
    justify-content:center;
 }
 
 .gallery-image {
    width:22vw;
    height:auto;
    margin:1.5vh;
    overflow:hidden;
    color: #fff;
    cursor: pointer;
 }

 @media screen and (max-width:1000px){
    .gallery {
        width:100vw;
     }
     
     .gallery-image {
        width:30vw;
     }
    
 }

 @media screen and (max-width:650px){
     .gallery-image {
        width:45vw;
     }
    
 }
