.card-img{
    background-color: #ffafaf;
    width: 30vw;
    height: auto;
    bottom: 0px;
    margin-top: 150px;
    object-fit: cover;
}
@media screen and (max-width: 900px){
    .card-img{
        margin-top: 1vh;
        height: 50vh;
    }
}