.body{
    margin-top:0;
    min-height:100vh;
    overflow-x: hidden;
    background:white;
}
.inner-body{
    margin-top:12vh;
    min-height:88vh;
    width:100vw;
    overflow-x: hidden;
}
.in-body{
    min-height:88vh;
    width:96vw; 
    padding:0 2vw;
    position:absolute;
    overflow-x: hidden;
}
.col{
    display:flex;
    flex-direction:column;
}
.row{
    display:flex;
    flex-direction:row;
}
.grow{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    width:100vw;
}
::-webkit-scrollbar {
    width:0;
}
::-webkit-scrollbar-track {
    background: #d1ffd1;
}
::-webkit-scrollbar-thumb {
    background: rgb(119, 255, 125);
    border-radius: 4px;
}
