.body{
    margin-top:0;
    min-height:100vh;
    overflow-x: hidden;
    background:white;
}
.inner-body{
    margin-top:12vh;
    min-height:88vh;
    width:100vw;
    overflow-x: hidden;
}
.in-body{
    min-height:88vh;
    width:96vw; 
    padding:0 2vw;
    position:absolute;
    overflow-x: hidden;
}
.in-body-2{
    height:88vh;
    width:96vw; 
    padding:0 2vw;
    position:absolute;
    background:url("./assets/homeBg.png");
    background-size:120vh;
    background-repeat:no-repeat;
    background-position:90% 100%;
    overflow: hidden;
}
.col{
    display:flex;
    flex-direction:column;
}
.row{
    display:flex;
    flex-direction:row;
}
.start{
    margin:0 2vw;
}
::-webkit-scrollbar {
    width:5px;
}
::-webkit-scrollbar-track {
    background: #c5c5c5;
}
::-webkit-scrollbar-thumb {
    background: rgb(61, 61, 61);
    border-radius: 4px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width:1300px){
    .in-body-2{
        background-size:65vw;
    }
}
@media screen and (max-width:1000px){
    .in-body-2{
        background-size:70vw;
    }
}
@media screen and (max-width:700px){
    .in-body-2{
        background-size:100vw;
    }
}
@media screen and (max-width:499px){
    .in-body-2{
        height:87vh;
    }
}

