.body{
    margin-top:0;
    min-height:100vh;
    overflow-x: hidden;
    background:white;
}
.inner-body{
    margin-top:12vh;
    min-height:88vh;
    width:100vw;
    overflow-x: hidden;
}
.in-body{
    min-height:88vh;
    width:96vw; 
    padding:0 2vw;
    position:absolute;
    overflow-x: hidden;
}
/* temp max */
.button{
    width:150px;
    height:5vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgb(41, 151, 255);
    border-radius:5px;
    color:white;
    font-weight:600;
    padding:1vh 2vh;
    cursor:pointer;
}
.amount-donate{
    display:flex;
    flex-direction:row;
    margin-bottom:5vh;
    height:8vh;
    flex-grow:1;
    align-items:center;
    justify-content:flex-start;
}
.amt-donate{
    background:rgb(211, 211, 211);
    padding:1vh 2vh;
    margin-right:2vh;
    border:none;
    border-radius:4px;
    font-weight:600;
}
/* .amt-donate:focus{
    outline:none;
} */
.col{
    display:flex;
    flex-direction:column;
}
.row{
    display:flex;
    flex-direction:row;
}
.grow{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    width:100vw;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #d1ffd1;
}
::-webkit-scrollbar-thumb {
    background: rgb(119, 255, 125);
    border-radius: 4px;
}
