.sp-cont{
    width:100vw;
    min-height:50vh;
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-between;
    padding:0;
    margin:0;
    background:white;
}
.sp-cont-2{
    width:100vw;
    min-height:50vh;
    display:flex;
    align-items:center;
    flex-direction:row-reverse;
    justify-content:space-between;
    padding:0;
    margin:0;
    background:rgb(231, 231, 231);
}
.sp-card-text{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
    width:100%;
    padding:5vh 5vw;
}
.sp-card-text h2{
    margin-top:0;
    font-family: 'Playfair Display', serif;
    font-size:35px;
}
.sp-card-img{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:100%;
    height:90vh;
    overflow: hidden;
    padding:0 5vw;
}
.sp-card-img img:hover{
    transform: scale(1.1);
    transition:0.5s;
}
@media screen and (max-width:1200px){
    .sp-card-text p{
        font-size:14px;
    }
    .sp-card-text h2{
        margin:0;
    }
}
@media screen and (max-width:900px){
    .sp-card-text p{
        font-size:16px;
    }
    .sp-cont, .sp-cont-2{
        flex-direction:column;
    }
    .sp-card-text{
        width:90%;
        padding:5vh 5%;
    }
    .sp-card-img{
        display:flex;
        width:100%;
        justify-content:center;
        height:30vh;
        overflow: hidden;
        padding:0;
        /* margin-bottom:5vh; */
    }
    .sp-card-img img{
        width:100vw;
    }

}